/*text styles*/
h1{
    font-family:'Droid Serif', serif;
}
h2,
h3,
h4,
h5,
h6{
    font-family:Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

/* font from http://type-scale.com/ major 3rd */
html {font-size: 1em;}

body {
  background-color: white;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

/*basic features*/
em {
    font-style:italic;
}
cite {
    font-style:italic;
}
strong {
    font-weight: 700;
}
q { 
    display: inline;
}
q:before { 
    content: open-quote;
}
q:after { 
    content: close-quote;
}
